/* CSS File for the Level One Show Website */
/* Open README.md for more information or go to stillapoet.com/mrflynn/lvloneshow */
/* Report all bugs to admin@lvloneshow.com */

/* Fonts */

@font-face {
  font-family: bebas-neue;
  src: url(fonts/BebasNeue.otf);
  font-weight: bold;
}

@font-face {
  font-family: yanone;
  src: url(fonts/YanoneKaffeesatz.otf);
  font-weight: bold;
}

/* Main Properties */

.back {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: url(images/gradient.png) no-repeat;
  background-size: cover;
}

/* Titles */

.title {
  font-family: bebas-neue;
  color: white;
  font-size: 7rem;
  padding-left: 2vmin;
  margin-bottom: 1px;
  text-shadow: 3px 3px 1px #20384a;
}

.subtitle {
  font-family: bebas-neue;
  color: white;
  font-size: 4rem;
  padding-left: 2vmin;
  margin: 5px;
  text-shadow: 2px 2px 1px #20384a;
}

#hostpagetitle {
  padding-top: 10px;
  padding-left: 2vmin;
  margin: 0px 0px 0px 0px;
}

#hosttitle {
  font-size: 3rem;
  padding: 5px 0 0 0px;
  margin: 0px;
  float: left;
}

#streamtitle {
  padding-left: 2vmin;
  margin: 0px 0px 0px 0px;
}

#donatetitle {
  font-size: 3rem;
  padding-left: 0px;
  margin: 0;
}

/* Title Page */

.page_home {
  -moz-transform: translateY(-10%);
}

.navbar {
  display: inline-block;
  width: auto;
  background-color: #20384a;
  border: 2px solid #20384a;
  border-radius: 6px;
  margin-left: 2vmin;
}

.sep {
  font-family: yanone;
  color: white;
  font-size: 220%;
  padding: 5px 0px 5px 0px;
  margin: 0px;
}

.navitem, .sep, .homeicons {
  float: left;
}

.navitem {
  font-family: yanone;
  color: white;
  font-size: 220%;
  text-decoration: none;
  padding: 5px;
  transition-duration: 0.4s;
}

.navitem:hover {
  color: grey;
}

#home_tube, #home_twitter, #home_dj {
  padding-top: 10%;
  padding-bottom: 5%;
  width: 35px;
  transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
}

#home_tube {
  padding-left: 5px;
}

#home_dj {
  padding-right: 10px;
}

#about {
  margin: 0px;
  padding-top: 2%;
}

#about_desc {
  padding-left: 2vmin;
}

/* Comment out when not in use

#important {
  color: red;
}

#important:hover {
  color: grey;
}

*/

/* Hosts Page */

.page_hosts {
  position: relative;
  -moz-transform: translateY(-100%);
}

.hal_profile, .other_profile {
  float: left;
  padding-left: 2vmin;
  padding-bottom: 2vmin;
}

.profimg-img {
  width: 20vmin;
  border: 2px solid white;
  border-radius: 2px;
  box-shadow: 2px 2px 1px #20384a;
}

.sub_paragraph {
  clear: left;
  font-family: yanone;
  font-size: 1.5rem;
  color: white;
  margin: 2px  0px 0px 0px;
  max-width: 80vmin;
  line-height: 120%;
}

#host_tube {
  padding-left: 1vmin;
}

.youtube, .twitter, .dj {
  position: relative;
  transform: translateY(40%);
  -webkit-transform: translateY(40%);
  width: 35px;
  height: 35px;
  /* filter:progid:DXImageTransform.Microsoft.BasicImage(invert=1); This doesn't work anymore because it's apparently deprecated */
  -webkit-filter: invert(1);
  filter: invert(100%);
  transition-duration: 0.4s;
}

.twitter:hover, .youtube:hover, .dj:hover {
  -webkit-filter: none;
  filter: none;
}

/* Stream Page */

.page_stream {
  position: relative;
  -moz-transform: translateY(-100%);
}

.stream, .chat, .donate {
  float: left;
  padding-left: 2vmin;
  padding-top: 10px;
}

.streamframe {
  height: 32vw;
  width: 54vw;
  box-shadow: 2px 2px 1px #20384a;
}

.donatelnk {
  border: 2px solid white;
  padding: 2px 5px 5px 5px;
  margin: 0px;
  color: white;
  font-family: yanone;
  font-size: 200%;
  background: transparent;
  border-radius: 2px;
  text-decoration: none;
  transition-duration: 0.4s;
}

.donatelnk:hover {
  background: grey;
}

.donate_divider {
  border-top: solid 1px white;
  margin: 0;
  padding-bottom: 2%;
}

#donate_para {
  max-width: 30vmin;
  padding-bottom: 1vmin;
}
