/* Fonts */

@font-face {
  font-family: bebas-neue;
  src: url(fonts/BebasNeue.otf);
  font-weight: bold;
}

@font-face {
  font-family: belanusa;
  src: url(fonts/YanoneKaffeesatz.otf);
  font-weight: bold;
}

/* Main Properties */

.back {
  position: fixed;
  left: -5;
  z-index: 0;
  width: 105%;
  height: 105%;
  display: block;
  background-color: gray;
}

/* Titles */

.title {
  font-family: bebas-neue;
  color: white;
  font-size: 800%;
  padding-left: 20px;
  padding-top: 15px;
  margin-bottom: 1px;
}

.subtitle {
  font-family: bebas-neue;
  color: white;
  font-size: 300%;
  padding-left: 20px;
  margin: 5px;
}

#hostpagetitle {
  padding-top: 10px;
  margin: 0px 0px 0px 0px;
}

#hosttitle {
  padding-left: 0px;
  margin: 0px;
}

#streamtitle {
  padding-top: 10px;
  margin: 0px 0px 0px 0px;
}

#donatetitle {
  padding-left: 0px;
  margin: 0px;
}

/* Hosts Page */

.hal_profile, .other_profile {
  clear: left;
}

.hal_profile {
  padding: 10px 15px 15px 20px;
}

.other_profile {
  padding: 2% 15px 15px 20px;
}

.profimg {
  float: left;
  padding-right: 10px;
}

.host_info {
  float: left;
  padding-left: 5px;
}

.sub_paragraph {
  font-family: belanusa;
  font-size: 150%;
  color: white;
  margin: 2px  0px 0px 0px;
  max-width: 50vmin;
  line-height: 120%;
}

.social_links {
  margin: 0px 0px 9px 0px;
}

.twitter, .youtube {
  width: 30px;
  -webkit-filter:invert(1);
  transition-duration: 0.4s;
}

.twitter:hover, .youtube:hover  {
  -webkit-filter:invert(0);
}

/* Stream Page */

.stream, .chat, .donate {
  float: left;
  padding-left: 20px;
  padding-top: 10px;
}

.streamframe {
  height: 34vw;
  width: 60vw;
}

.chatframe {
  height: 34vw;
  width: 17vw;
}

/*
.sec_profile1, .sec_profile2 {
  float: left;
  padding-right: 15px;
  padding-left: 20px;
}

.sec_profile_info {
  float: right;
  padding-left: 10px;
}
*/
